.filtros{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    padding: 20px;
    background-color:  #8f8f8f; 
    display: flex;
    border-radius:8px;
}
.filtro-fecha{
    font-size: 1rem;
    padding: 0.6rem;
    padding-right: 1rem;
    margin: 1;  
}
.filtro-Input{
    padding: 0.6rem;
   
    width: 80%;  
}

legend{
    font-size: 1rem;
}

.btn-primary{
   padding: 15;
    margin: auto;
    display: block;
    min-width: 8rem;
    width: 10%;
     
}

.filtro-PorVendedor{
    text-align:center;
    padding-top: 15px;
    width: 100%; 
    font-size: 15px;
    border-radius:45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right:45;
}

.btn-success{
    background-color: #ef904d;
    border: none;
    font-size: 17px;
    color: #fff;
}

.btn-success:hover{
    background-color: #f2a670;
}

.btn-success:disabled {
    background-color: gray; 
    cursor: not-allowed;
}
.Graficoss{
    margin-bottom: 5%;
    position: relative;
}
#grafica{
    width: 100%; 
}
 #grafica_llamada{
    max-width: 500px;
    float:left; 
    margin-bottom: 5%;
  
}
 #grafica_lead{
    max-width: 500px;
    float:right; 
    margin-bottom: 5%;
}

 #grafica_Cotizacion{
    max-width: 500px;  
    float:left; 
    margin-bottom: 5%;
}

 #grafica_Ventas{
    max-width: 500px; 
    float:right; 
    margin-bottom: 5%;
}

.footer-conteiner{
    clear:both;
}


