.btn-Acciones{
    background-color: rgb(109, 179, 156);
    margin: 1rem;
    margin-left: 0;
}
.table-conteiner{
    width: 95%;
    margin: 40px auto;
}
h1{
    text-align: center;
}
#form-usuario, #form-Edit-Usuario {
    display: flex;
    padding: 2rem;
    padding-bottom: 3rem;
    position: relative;
}
.grupo-form {
    width: 40rem;
}
.mb-3 {
    margin: 0.8rem;
}
.btn-guardar {
    position: absolute;
    bottom: 0.1rem;
    left: 40%;
    right:30%;
}
.btn_nuevoRegistro {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: rgb(86, 174, 86);
    border-color: greenyellow;
}
.btns{
    margin-right: 0.6rem;
    padding: 0.3rem;
    font-size: 1.4rem;
    color: aliceblue;
}
#btn_ver{
    background-color: rgb(86, 174, 86);
}
#btn_editar{
    background-color: rgb(45, 111, 203);
}
#btn_eliminar{
    background-color: rgba(255, 0, 0, 0.855);
}