.btn-Acciones{
    background-color: rgb(109, 179, 156);
    margin: 1rem;
    margin-left: 0;
}
.table-conteiner{
    width: 95%;
    margin: 40px auto;
}
h1{
    text-align: center;
    color: #f5971d !important;
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 500;
    
}
#form-comision, #form-Edit-Comision {
    display: flex;
    padding: 3rem;
    padding-bottom: 3rem;
    position: relative;
}
.grupo-form {
    width: 30rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.mb-3 {
    margin: 0.10rem;
}
.btn-guardar {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 1rem;
}
.btn_nuevoRegistro {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: #ee9827 !important;
    border-color: rgb(47, 210, 255);
}
.btn_Pdf {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: rgb(153, 37, 5);
    border-color: rgb(255, 78, 47);
}
.btn_Excel {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: rgb(10, 147, 0);
    border-color: rgb(90, 206, 109);
}
.btns{
    margin-right: 0.6rem;
    padding: 0.3rem;
    font-size: 1.4rem;
    color: aliceblue;
}
#btn_ver{
    background-color: rgb(45, 111, 203);
}
#btn_editar{
    background-color: rgb(86, 174, 86);
}
#btn_eliminar {
    background-color: rgba(255, 0, 0, 0.855);
}
#btn_PDFid{
    background-color: rgb(153, 37, 5);
}
.filtro-fecha{
    content: inherit;
    display: flex;
    margin: 0.5rem;
    margin-left: -2rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(202, 199, 195);
}
.filtro-fecha input{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: auto;
    background-color: #dbd2c0;
    border-color: rgb(9, 107, 107);
}
.filtro-fecha label{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: auto;
    border-color: rgb(24, 26, 26);
}
.filtro-fecha button{
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 10rem;
    border-color: rgb(24, 26, 26);
    background-color: #d1821b;
}
.mensaje {
    position: absolute;
    color: red;
    font-size: 15px;
}
.mensaje_error {
    box-shadow: 0 0 0 .15rem #e15e3eac;
    border-color: red;
}
.mensaje_error:focus {
    box-shadow: 0 0 0 .25rem rgba(226, 73, 35, 0.455);
    border-color: red;
}
.form-control {
    padding-left: 20px;
}
.btn_filtroALiquidar{
    margin: 1.5rem;
    padding: 2.5rem;
    font-size: 1.2rem;
    width: 15rem;
    color: aliceblue;
    border-color: rgb(24, 26, 26);
    background-color: #d1821b;
}
#btn_eliminar{
    background-color: rgba(255, 0, 0, 0.855);
} 
.btn-abrir{
    border: none;
    background-color: rgb(45, 111, 203);
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.2rem;
    font-size: 14px;
    color: aliceblue;
    margin-right: 0.3rem;
}
.btn-abrir:hover {
    background-color:  rgb(6, 74, 170);
}
.btn-finalizar{
    border: none;
    background-color: rgb(86, 174, 86);
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0.2rem;
    font-size: 14px;
    color: aliceblue;
}
.btn-finalizar:hover {
    background-color:  rgb(23, 150, 23);
}