.btn-Acciones{
    background-color: rgb(109, 179, 156);
    margin: 1rem;
    margin-left: 0;
}

.table-conteiner{
    width: 80%;
    margin: 40px auto;
}
h1{
    text-align: center;
}

.Eliminar{
    background-color:rgb(182, 31, 31);
    color:white;
}