.btn-Acciones{
    background-color: rgb(109, 179, 156);
    margin: 1rem;
    margin-left: 0;
}
.table-conteiner{
    width: 95%;
    margin: 40px auto;
}
h1{
    text-align: center;
    color: #f5971d;
    
}
.modal-header{
    background-color: #4d4b4a;
    color: #ee9827;
    height: 3rem;
}
#form-usuario, #form-Edit-Usuario, #form-estado, #formEditEstadoU{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    align-items: space-around;
    gap: 2rem;
}
.container-group-form{
    display: flex;
}
.grupo-form{
    max-width: 100%;
    width: 100%;
}
.mb-3 {
    margin: 0.8rem;
}
.btn-guardar {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}
.btn_nuevoRegistro {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: #ee9827 !important;
    border-color: greenyellow;
}
.btns{
    margin-right: 0.6rem;
    padding: 0.3rem;
    font-size: 1.4rem;
    color: aliceblue;
}
.btn-primary{
    background-color: #ee9827 !important;
}
.btn_nuevoRegistro:hover{
    background-color: #4d4b4a !important;
}
#btn_editar{
    background-color: rgb(86, 174, 86) !important;
}
#btn_eliminar{
    background-color: rgba(255, 0, 0, 0.855);
}
.btn_Pdf {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: rgb(153, 37, 5) !important;
    border-color: rgb(255, 78, 47);
}