.mensaje {
    position: absolute;
    color: red;
    font-size: 12px;
}
.mensaje_error {
    box-shadow: 0 0 0 .15rem #e15e3eac;
    border-color: red;
}
.mensaje_error:focus {
    box-shadow: 0 0 0 .25rem rgba(226, 73, 35, 0.455);
    border-color: red;
}
.wrap-input {
    position: relative;
    margin-bottom: 2rem !important;
}