.mensaje {
    /* position: absolute; */
    color: red;
    font-size: 15px;
}
.mensaje_error {
    box-shadow: 0 0 0 .15rem #e15e3eac;
    border-color: red;
    /* margin-bottom: 1rem; */
}
.mensaje_error:focus {
    box-shadow: 0 0 0 .25rem rgba(226, 73, 35, 0.455);
    border-color: red;
}
.wrap-input {
    position: relative;
    margin-bottom: 2rem !important;
}
.modal-content{
    min-height: 25rem;
}
.mensaje-existe-cliente, .mensaje-existe-pregunta,.mensaje-existe-razonsocial{
    display: inline-block;
    background-color: #f2a694;
    color: rgb(209, 18, 18);
    border-radius: 0.2rem;
    margin-left: 0.8rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding: 0 0.6rem;
}