

.grupoform {
    width:25rem;
   margin-right:0%;
    
 }

.grupoform1 {
    width:rem;
    margin-right:0%;
    
 }
.grupoform1{
    width: 25rem;
    left: rem;

 }
 
 .mb-3 {
    margin: 0.5rem;
   
}

#form-ClienteFrecuente {
  
    box-shadow: 0px 10px 15px 2px #a5a4a3b6 ;
    display: flex;
    padding: 1rem;
    padding-bottom: 4rem;
    position: relative;

}
#form-solicitud{
   background-color: #afaca8; 
}
body{
    background-color: #f0ede9;
}
.modal-dialog {
    max-width: fit-content;
    /* margin: 0 auto; */
}
.modal-header {
    background-color: #ef904d;
}
.modal-title {
    margin-left: 0.6rem;
    color: white;
}
.modal-content{
   min-width: 50rem;
}
.col-sm-12 .table {
    margin: 0 auto;
    min-width: 100%;
}
.btn-close {
    color: white;
}

#group-inputs {
    display: flex;
    min-width: fit-content;
    gap: 2rem;
    justify-content: center;
}

.grupo-form {
    min-width: inherit;
    width: 45%;
}

/* Estilos para tabla de articulos */
.table-conteiner {
    margin: 2rem;
   
    padding: 0.6rem;
    min-height: 6rem;
    /* overflow-y: scroll; */
}
.table{
    min-width: 50rem;
}

.btn-guardar {
    text-align: center;
}

body{
    background-color: #f0ede9;
}
.modal-dialog {
    max-width: fit-content;
    /* margin: 0 auto; */
}
.modal-header {
    background-color: #ef904d;
}
.modal-title {
    margin-left: 0.6rem;
    color: white;
}
.modal-content{
   min-width: 50rem;
}
.col-sm-12 .table {
    margin: 0 auto;
    min-width: 100%;
}
.btn-close {
    color: white;
}

#group-inputs {
    display: flex;
    min-width: fit-content;
    gap: 2rem;
    justify-content: center;
}

.grupo-form {
    min-width: inherit;
    width: 45%;
}

/* Estilos para tabla de articulos */
.table-conteiner {
    margin: 3rem;
    background-color: #ebe5e0;
    padding: 0.6rem;
    min-height: 0rem;
    /* overflow-y: scroll; */
}
.conteiner-id-articulo{
    margin: 0;
    padding: 0.4rem;
    position: relative;
}
.conteiner-form{
    margin-top: 1rem;
}
.cant-producto, .id-producto{
    padding: 2px;
    padding-left: 4px;
    width: 6rem;
    border: 1px dotted grey;
    outline: none;
}

.id-producto{
    border: none;
    font-size: 18px;
}
.btn-call-modal {
    position: absolute;
    right: 3px;
    bottom: 3px;
    height: 2rem;
    width: 9rem;
    margin: 0;
    padding: 2px 8px;
}
.btn-guardar {
    text-align: center;
}
#group-inputs{
    margin: 0 auto;
}
.titulo-articulo{
    display: inline-block;
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.encabezado-tarea{
    display: flex;
    justify-content: space-between;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.btn-fa-solid {
    padding-top: 4px;
    font-size: 25px;
}
#btn-articulos{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.text-cliente{
    display: block;
    margin-bottom: 0.3rem;
}
.radio-label{
    padding-left: 0.3rem;
}
.radio{
    margin-left: 0.8rem;
}
#id-Tarea{
    background-color: rgb(232, 236, 240);
    margin-left: 0.6rem;
    margin-bottom: 0;
    padding: 0.6rem;
    text-align: center;
    border-radius: 6px;
}
.mensaje-existe-cliente{
    display: inline-block;
    background-color: #f2a694;
    color: rgb(209, 18, 18);
    border-radius: 0.2rem;
    margin-left: 0.8rem;
    margin-bottom: 0;
    padding: 0 0.6rem;
}
#mensaje{
    display: inline-block;
    margin-bottom: 0;
}
#container-Factura-cliente{
    position: relative;
}
.btn-buscar-factura{
    position: fixed;
    right: 0px;
    bottom: 0;
    height: fit-content;
    height: fit-content;
}
#btn-Factura{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
#btn-Factura i {
    padding: 0;
}
#table-ClienteFrecuente_wrapper .row, #table-Articulos_wrapper .row{
    min-height: -moz-fit-content;
    min-height: fit-content;
    align-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#btn_agregar{
    margin: 1rem;
    display: flex;
    min-width: 7rem;
    margin-left: 20.6rem;
}

.fa-solid-icon {
    font-size: 25px;
    transition: color 0.1s ease 0.1s;
  }
  .fa-solid-icon:hover {
    color: #1289d8;
  }
  .select-factura, .select-cliente, .select_articulo{
    color: #1289d8;
  }
  
  #containerCorreocliente {
  
 
    display: none; /* El div estará oculto inicialmente */
    }

    .mensaje {
       
        color: red;
        font-size: 12px;
    }
    .mensaje_error {
        box-shadow: 0 0 0 .15rem #e15e3eac;
        border-color: red;
    }
    .mensaje_error:focus {
        box-shadow: 0 0 0 .25rem rgba(226, 73, 35, 0.455);
        border-color: red;
    }
    .wrap-input {
        position: relative;
        margin-bottom: 2rem !important;
    }