body{
    background-color: #f0ede9;
}
.modal-dialog {
    max-width: fit-content;
    /* margin: 0 auto; */
}
.modal-header {
    background-color: #ef904d;
}
.modal-title {
    margin-left: 0.6rem;
    color: white;
}
.modal-content{
   min-width: 50rem;
}
.col-sm-12 .table {
    margin: 0 auto;
    min-width: 100%;
}
.btn-close {
    color: white;
}

#group-inputs {
    display: flex;
    min-width: fit-content;
    gap: 2rem;
    justify-content: center;
}

.grupo-form {
    min-width: inherit;
    width: 45%;
}

/* Estilos para tabla de articulos */
.table-conteiner {
    margin: 2rem;
    background-color: #ebe5e0;
    padding: 0.6rem;
    min-height: 6rem;
    /* overflow-y: scroll; */
}
.conteiner-id-articulo{
    margin: 0;
    padding: 0.4rem;
    position: relative;
}
.conteiner-form{
    margin-top: 1rem;
}
.cant-producto, .id-producto{
    padding: 2px;
    padding-left: 4px;
    width: 6rem;
    border: 1px dotted grey;
    outline: none;
}

.id-producto{
    border: none;
    font-size: 18px;
}
.btn-call-modal {
    position: absolute;
    right: 3px;
    bottom: 3px;
    height: 2rem;
    width: 9rem;
    margin: 0;
    padding: 2px 8px;
}
.btn-guardar {
    text-align: center;
}
#group-inputs{
    margin: 0 auto;
}
.titulo-articulo{
    display: inline-block;
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.encabezado-tarea{
    display: flex;
    justify-content: space-between;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.btn-fa-solid {
    padding-top: 4px;
    font-size: 25px;
}
#btn-articulos{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.text-cliente{
    display: block;
    margin-bottom: 0.3rem;
}
.radio-label{
    padding-left: 0.3rem;
}
.radio{
    margin-left: 0.8rem;
}
#id-Tarea{
    background-color: rgb(232, 236, 240);
    margin-left: 0.6rem;
    margin-bottom: 0;
    padding: 0.6rem;
    text-align: center;
    border-radius: 6px;
}
.mensaje-existe-cliente{
    display: inline-block;
    background-color: #f2a694;
    color: rgb(209, 18, 18);
    border-radius: 0.2rem;
    margin-left: 0.8rem;
    margin-bottom: 0;
    padding: 0 0.6rem;
}
#mensaje{
    display: inline-block;
    margin-bottom: 0;
}
#container-rtn-cliente{
    position: relative;
}
.btn-buscar-cliente{
    position: absolute;
    right: 1px;
    bottom: 0;
    height: fit-content;
    height: fit-content;
}
#btn-clientes{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
#btn-clientes i {
    padding: 0;
}
#table-Cliente_wrapper .row, #table-Vendedores_wrapper .row{
    min-height: -moz-fit-content;
    min-height: fit-content;
    align-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#btn_agregarCliente{
    margin: 0 auto;
    display: block;
    min-width: 7rem;
}
