.titulo {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
#password::-ms-reveal {
    display: none;
}
#confirmPassword::-ms-reveal {
    display: none;
}

.btn {
    margin: 0.6rem auto;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.btn-cancelar {
    background-color: #e36b21;
}