*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
} 
body {
    min-height: 100vh;
    background-color: #e28e5a;
    background: linear-gradient(85deg, #f3b85f 20%, #e65a14 80%);
} 
.ancho{
    height: 100vh;
    display: flex;
    justify-content:center; /*Alineacion en horizontal*/
    align-items:center;  /*Alineacion en vertical*/
}
.wrap-input {
    position: relative;
    margin-bottom: 2rem !important;
}
form {
    padding: 20px;
    background-color: white;
    height: min-content;
    /* width: 30%; */
    width: fit-content;
    font-size: 20px;
    border-radius:8px;
    box-shadow: 20px 20px 15px 0px #d05d24 ;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 70%;
    background-color: #da251c;
    border:none;
}
.conteiner-icon{
    position: absolute;
    left: 0;
    /* Para centrar icono */
    height: 50%;
    transform: translateY(-25%);
}
.btn:hover{
    background-color: rgb(75, 73, 73);
    color: #ffffff;
 }
.icon {
    display: block;
    margin: 10px;
    font-size: 25px;
}
.lock{
    cursor: pointer;
}
.logo-empresa{
    margin-bottom: 30px;
}
.form-label {
    margin-left: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-control {
    padding-left: 45px;
}
.link-recuperacion {
    display: block;
    margin-top: 5px;
    color: #ac4b4b;
    font-size: 15px;
    text-align: center;
}
.link-recuperacion:hover {
    color: #0958a7;
    font-size: 15px;
}
.check-conteiner {
    display: flex;
    justify-content: center;
}
.check-conteiner input {
    margin: 5px;
}
.check-conteiner label {
    font-size: 15px;
}
.btn-cuenta{
    font-size: 12px;
    margin-left: 35px;
}
a{
    font-size: 15px;
    padding-left: 5px;
}
/* Estilo para quitar el ojo por defecto que pone el input password. 
    Pseudoelemento
*/

.margin-b {
    margin-bottom: 0.2rem;
}
.ancho {
    flex-direction: column;
}
.logo-empresa{
    text-align: center;
}
.wrap-input {
    position: relative;
    margin-bottom: 1.5rem !important;
}
form { 
    margin-top: 2rem;
    padding: 2rem;
}
.titulo-bienvenida{
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 3rem;
}
.titulo-bienvenida2{
    text-align: center;
    color: rgb(70, 67, 67);
    font-weight: 500;
    font-size: 1rem;
}

.select-preguntas {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
.btn {
    margin: 0.6rem auto;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.btn-cancelar {
    background-color: #e36b21;
}
.mensaje {
    position: absolute;
    margin-top: -20px;
    color: red;
    font-size: 17px;
}
.mensaje_error {
    box-shadow: 0 0 0 .15rem #e15e3eac;
    border-color: red;
}
.mensaje_error:focus {
    box-shadow: 0 0 0 .25rem rgba(226, 73, 35, 0.455);
    border-color: red;
}