.footer-content{
    width: 100%;
    display: flex;
    column-gap: 3rem;
    justify-content: center;
    
}
.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    text-decoration: none;
    color:rgb(41, 38, 36);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    font-size: 1.3rem;
}
.footer-link:hover{
    color: rgb(209, 214, 215);
}