/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
  height: 100vh;
  background-color: #363232;
}
/* ============================= Estilos del logo Sidebar ============================= */
.nav_image {
  display: flex;
  min-width: 55px;
  justify-content: center;
  align-items: center;
}
.sidebar-conteiner.close {
  width: calc(55px + 20px);
}
#sidebar-id {
  min-height: 100vh;
  max-width: 245px;
  background-color: #363232;
  box-shadow: #ef904df3 0px 2px 8px -1px, #000000b6 0px 1px 3px -1px;
}
.logo_items {
  gap: 8px;
  padding-top: 1rem;
}
.flex-log{
  display: flex;
  justify-content: center;
}
.logo_name {
  font-size: 22px;
  color: #c8bfbd;
  font-weight: 500;
  transition: all 0.3s linear;
}
.sidebar-conteiner.close .logo_name,
.sidebar-conteiner.close #lock-icon,
.sidebar-conteiner.close #sidebar-close {
  opacity: 0;
  pointer-events: none;
}
#lock-icon,
#sidebar-close {
  padding: 10px;
  color: #4070f4;
  font-size: 25px;
  cursor: pointer;
  margin-left: -4px;
  transition: all 0.3s ease;
}
#sidebar-close {
  display: none;
  color: #333;
}
#lock-icon{
  font-size: 2rem;
  color: #f4efed;
  font-weight: 500;
}
#sidebar-open {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
/* ============================= Estilos del sidebar ============================= */
.sidebar-conteiner {
  background-color: #6b6967;
  width: 250px;
  min-width: 250px;
  transition: all 0.6s ease-out;
  height: inherit;
}
/* ============================= Estilos de la lista de menu  ============================= */
.menu__container {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  max-height: 78vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.title__module {
  color: #e25f41ec;
}
/*Lista UL principal*/
.dropdown-menu__content {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  height: inherit;
  min-width: 100%;
}
/* Ocultar scroll de navegacion */
.menu__container::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 3px;
  margin: 0 0.4rem;
}
.menu__container::-webkit-scrollbar-thumb {
  background: #e4e3e2cb;
  border-radius: 2px;
}
.dropdown__link__span{
  list-style: none;
  color: #ee9827;
  font-size: 1rem;
  display:flex;
  align-items: center;
  padding: 8px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}
/* ================== Estilos interaccion del menu sidebar ==================  */
.dropdown__link__span.close{
  width: 40px;
  overflow-x: hidden;
  padding-left: 4px;
  padding-right: 4px;
}
.dropdown__link {
  text-decoration: none;
}
.dropdown-menu__content__list__check{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.check__conteiner {
  position: relative;
  background-color: var(--bg-checked, transparent);
}
.check__conteiner:hover{
  background-color: #666060;
}
.dropdown-menu__content__list:has( :checked ){
  --row: 1fr;
  --rotate: rotate(180deg);
  --bg-checked: #666060;
}
.dropdown__arrow {
  transform: var(--rotate, 0);
  transition: .2s transform;
  position: absolute;
  right: 18px;
}
.dropdown__content {
  display: grid;
  grid-template-rows: var(--row, 0fr);
  transition: .4s grid-template-rows;
}
.dropdown-menu__content__secundario  {
  list-style: none;
  padding-left: 0rem;
  background-color: #5d595782;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.dropdown-menu__content__secundario__link {
  text-decoration: none;
  color: #c8bfbd;
  display: block;
}
.icon-menu-principal{
  font-size: 1.6em;
  color: #ee9827;
}
.dropdown-menu__content__list__item{
  padding: 4px;
  padding-left: 1rem;
}
.dropdown-menu__content__list__item:hover{
  background-color: #333;
}
.icon-menu-principal__conteiner{
  width: 40px;
  height: 32px;
}
.list__menu__principal-text {
  margin-bottom: 0;
  font-size: 1rem;
  color: #ee9827;
}
.item-menu-active {
  background-color: #9d3d1ef1;
}